<!DOCTYPE html>
<html>
<head>
    <title>Vikings</title>
    <style>
        body {
            text-align: center;
        }
        h1 {
            margin-bottom: 20px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <h1>List of actors of the TV series VIKINGS</h1>
    <ul>
        {% for entry in vikings %}
            <li><a href="{% url 'actor_vikings' actor_id=entry.id %}">{{ entry.actor_name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>

